<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Golden Deer</title>
    <link rel="shortcut icon" href="../Images/myIcon.png" type="image" />
    <link rel="stylesheet" href="../ref/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../ref/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap"
      rel="stylesheet"
    />
    <script src="../ref/js/jquery.js"></script>
  </head>

  <body>
    <section class="main_bg container">
      <div class="row">
        <div class="col-lg-12">
          <header class="clearfix">
            <section id="banner">
              <img
                class="img-responsive"
                width="1920"
                height="515"
                src="../Images/1.png"
                alt="Baner of the GoldenDeer"
                width="100%"
              />
            </section>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button
                    type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#myNavbar"
                    aria-expanded="false"
                    aria-controls="myNavbar"
                  >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <a
                  id="brandGoldenDeer"
                  class="navbar-brand"
                  href="./index.html"
                  >Golden Deer</a
                >
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                    <li>
                      <a href="./index.html">Home</a>
                    </li>
                    <li class="active">
                      <a href="./portfolio.html">Portfolio</a>
                    </li>
                    <li><a href="./contact.html">Contact</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </header>
        </div>
      </div>
      <div class="content row">
        <div class="container">
          <iframe
            class="col col-lg-6 col-md-12 col-sm-12 col-xs-12"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/Le9o4PsSH1w"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <iframe
            class="col col-lg-6 col-md-12 col-sm-12 col-xs-12"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/rhYd-Zfdt1I"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <iframe
            class="col col-lg-6 col-md-12 col-sm-12 col-xs-12"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/4evvJ6td2TQ"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <iframe
            class="col col-lg-6 col-md-12 col-sm-12 col-xs-12"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/Mf8gzCi3Qtg"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <figure class="col col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <img
              class="img-responsive"
              src="../Images/Portfolio/men002.jpg"
              alt="men"
              srcset=""
              width="560"
            />
            <figcaption style="font-size: 2vw">Men</figcaption>
          </figure>
          <figure class="col col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <img
              class="img-responsive"
              src="../Images/Portfolio/pishy.jpg"
              alt="pishy"
              srcset=""
            />
            <figcaption style="font-size: 2vw">Pishy</figcaption>
          </figure>
			<figure class="col col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <img
              class="img-responsive"
              src="../Images/Portfolio/Storyboard.jpg"
              alt="storyboard"
              srcset=""
            />
            <figcaption style="font-size: 2vw">Storyboard</figcaption>
          </figure>
        </div>
      </div>
    </section>
    <script src="../ref/js/bootstrap.min.js"></script>
  </body>
</html>
